<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Enclosure</title>
      {% else %}
      <title>Welcome to Enclosure</title>
      {% endif %}
    </head>
    <body>
        <div>
          Enclosure: 
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login' ) }}">Login</a>
          {% else %}
          <a href="{{ url_for('index' ) }}">Home</a>
          <a href="{{ url_for('user' , username=current_user.username ) }}">{{ current_user.username }}</a>
          <a href="{{ url_for('logout' ) }}">Logout</a>
          {% endif %}
        </div>
        <hr>
        <ul>
          {% with message = get_flashed_messages()  %}
           {% if message %}
            {% for message in messages %}
              <li> {{ message }} </li>
          {% endfor %}
        </ul>   
        {% endif %}
        {% endwith %}     
        {% block content %}{% endblock %}
    </body>
</html>